<template>
  <a v-on:mouseover="mouseover" v-on:click="click" v-bind:class="{ selected: selected}" href="#">{{ link }}</a>
</template>


<script>
  export default {
    name: "kdb-link",
    props: ["link", "selected"],
    data: function () {
      return {
      }
    },
    created: function() {
    },
    methods:{
      mouseover: function() {
        console.log("MouseOver")
        this.$emit('url-event', { url: this.link, eventtype: "mouseover" })
      },
      click: function() {
        console.log("click")
        this.$emit('url-event', { url: this.link, eventtype: "click" })
      }
    },
  }
</script>
