<template>
  <ul>
    <li v-for="(pages, tag) in references" v-bind:key="tag">
      {{ tag }}
      <ul>
        <li v-for="(page, index) in pages" v-bind:key="index">
          <kdb-link v-bind:link="page" v-on:url-event="urlevent"></kdb-link>
        </li>
      </ul>
    </li>
  </ul>
</template>




<script>
  import KdbLink from './kdb-link.vue'

  export default {
    name: 'kdb-references',
    components: {
      KdbLink
    },
    props: ["references"],
    data: function () {
      return {
      }
    },
    methods:{
      urlevent(e) {
        this.$emit('url-event', e)
      }
    },
  }
</script>
