<template>
  <div id="app">
    <kdb-search :items="pages_index" 
                  @selected="itemSelected"
    >
    </kdb-search>
    
    <div class="w3-teal resizable" style="width:600px; height:400px; ">
      <kdb-page v-bind:content="pagecontent" v-bind:title="pagetitle" v-on:url-event="urlevent" v-on:save="savecontent($event)"></kdb-page>
      <kdb-references v-bind:references="page_references" v-on:url-event="urlevent"></kdb-references>
    </div>
  </div>
</template>

<script>
  import KdbSearch from './components/kdb-search.vue';
  import KdbPage from './components/kdb-page.vue'
  import KdbReferences from './components/kdb-references.vue'
  import axios from 'axios'
  
  export default {
    name: 'App',
    components: {
      KdbSearch,
      KdbPage,
      KdbReferences
    },
    data: function () {
      return {
        pagetitle: "Index",
        pagecontent: "This page contains a [[link]] and [[link2]].",
        page_references: {},
        pages_index: [],
        searchstring: "",
      }
    },
    mounted: function() {
      var self = this
      axios.get('http://localhost:8888/items')
        .then(function (response) {
          // handle success
          console.log("Data:")
          console.log(response.data);
          self.pages_index=response.data.pages;
        })
        .catch(function (error) {
          // handle error
          console.log(error);
          //self.edit=true
        })
        .then(function () {
          // always executed
        });
      if (this.$route.name=="Page") {
        this.load(this.$route.params.pagename)
      }
    },
    watch: {
      $route: function(to, from) {
        // react to route changes...
        console.log("RouteChanged")
        console.log(from)
        console.log(to)
        this.load(to.params.pagename)
      }
    },
    methods: {
      search: function() {
        this.load(this.searchstring)
      },
      urlevent: function(event) {
        if (event.eventtype == "mouseover") {
          console.log("Mouseover")
        }
        else if (event.eventtype == "click") {
          this.load(event.url)
        }
      },
      load: function (pagename) {
        this.load_page(pagename)
        this.load_references(pagename)
        this.$router.push({ name: 'Page', params: { pagename: pagename } })

      },
      load_page: function (pagename) {
        var self = this
        axios.get('http://localhost:8888/items/'+pagename.replaceAll(" ", "_"))
          .then(function (response) {
            // handle success
            console.log(response);
            self.pagecontent=response.data
            self.pagetitle=pagename
            //response.data
          })
          .catch(function (error) {
            // handle error
            console.log(error);
            self.pagecontent=""
            self.pagetitle=pagename
            //self.edit=true
          })
          .then(function () {
            // always executed
          });
      },
      load_references: function (pagename) {
        var self = this
        axios.get('http://localhost:8888/items/'+pagename.replace(" ", "_")+"/references")
          .then(function (response) {
            // handle success
            console.log("Received")
            console.log(response);
            self.page_references=response.data
          })
          .catch(function (error) {
            // handle error
            console.log(error);
            self.page_references={}
          })
          .then(function () {
            // always executed
          });
      },
      savecontent: function (data) {
        let self=this;
        axios.put('http://localhost:8888/items/'+data.title.replaceAll(" ", "_"), data.content)
          .then(function (response) {
            // handle success
            console.log(response);
            self.pagetitle=data.title
            self.pagecontent=data.content
          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
          .then(function () {
            // always executed
          });
          
        if (data.oldTitle) {
          console.log("Remove page!")
          axios.delete('http://localhost:8888/items/'+data.oldTitle.replaceAll(" ", "_"))
        }
        
       this.$router.push({ name: 'Page', params: { pagename: data.title.replaceAll(" ", "_") } })

      },
      itemSelected: function(item) {
        console.log("Selected: " + item.name)
        this.load(item.name)
      }
    }
  }
</script>

<style>
    .resizable {
      resize: both;
      overflow: scroll;
      border: 1px solid black;
    }
</style>
