<template>
  <div id="app">
    <kdb-md v-bind:content="content" v-on:url-event="urlevent"></kdb-md>
  </div>
</template>

<script>
  import KdbMd from './components/kdb-md.vue'

export default {
  name: 'App',
  components: {
    KdbMd
  },
  data: function () {
    return {
      content: "_Hello_: This is a [[link]]. And here a second with [[another link|hello]]",
    }
  },
  methods: {
    urlevent: function (e) {
      console.log(e)
    }
  }
}
</script>

<style>
</style>
