<template>
  <div id="app">
    <kdb-link v-bind:link="testlink"/>
  </div>
</template>

<script>
import KdbLink from './components/kdb-link.vue'

export default {
  name: 'App',
  components: {
    KdbLink
  },
  data: function () {
    return {
      testlink: "Hello",
    }
  }
}
</script>

<style>
</style>
