<template>
  <div id="app">
    <kdb-search :items="items" 
                  @selected="itemSelected"
                  ></kdb-search>
  </div>
</template>

<script>
  import KdbSearch from './components/kdb-search.vue';
  
export default {
  name: 'App',
  components: {
    KdbSearch
  },
  data: function () {
    return {
      items: [
        { id: 1, name: 'Golden Retriever'},
        { id: 2, name: 'Cat'},
        { id: 3, name: 'Squirrel'},
        { id: 4, name: 'Golden Retriever2'},
        { id: 5, name: 'Caat'},
        { id: 6, name: 'Squirrrel'},
      ],
    }
  },
 methods: {
    itemSelected (item) {
      console.log("Selected: " + item.name)
      this.item = item;
    },
    setLabel (item) {
      return item.name;
    },
  },
}
</script>

