<template>
  <div id="app">
    <kdb-references v-bind:references="references" v-on:url-event="urlevent"></kdb-references>
  </div>
</template>

<script>
  import KdbReferences from './components/kdb-references.vue'

export default {
  name: 'App',
  components: {
    KdbReferences
  },
  data: function () {
    return {
      references: {
        "Tag 1" : ["index", "page1"],
        "Hello" : ["page2", "page1"],
        "No Tag" : ["index"],
      }
    }
  },
  methods: {
    urlevent: function (e) {
      console.log(e)
    }
  }
}
</script>

<style>
</style>
