<template>
  <div id="app">
    <div class="w3-teal resizable" style="width:600px; height:400px; ">
      <kdb-page v-bind:content="pagecontent" v-bind:title="pagetitle" v-on:url-event="urlevent" v-on:save="save($event)"></kdb-page>
    </div>
  </div>
</template>

<script>
  import KdbPage from './components/kdb-page.vue'

  export default {
    name: 'App',
    components: {
      KdbPage
    },
    data: function () {
      return {
        pagecontent: "This is a [[link]]. And here a second with [[another link|hello]]",
        pagetitle: "Hello"
      }
    },
    methods: {
      save: function (e) {
        console.log("Save page")
        console.log(e)
      },
      urlevent: function (e) {
        console.log(e)
      }
    }
  }
</script>

<style>
    .resizable {
      resize: both;
      overflow: scroll;
      border: 1px solid black;
    }
</style>
